asn1crypto==0.24.0
blinker==1.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.2.2
Flask==1.0.2
Flask-Mail==0.9.1
Flask-Session==0.3.1
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
passlib==1.7.1
pycparser==2.18
pyOpenSSL==18.0.0
requests==2.19.1
six==1.11.0
urllib3==1.23
Werkzeug==0.14.1
cs50
flask-sessionstore
