/* main style for the app */

body {
    padding-bottom: 4px;
    margin-bottom: 4px;
    font-family: 'EB Garamond';
    background: url("background.png") no-repeat center center fixed;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    height: 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 18px;
    color: #008B8B;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
    font-size: 20px;
}

form {
    width: 30%;
}

article {
    color: white;
}

a {
    text-decoration:none;
    color: white;
}

a:link {
    text-decoration:none;
    color: white;
}

a:hover {
    text-decoration:none;
    color: orange;
}

a:active {
    text-decoration:none;
    color: lightblue;
}

input[type] {
    border: 2px solid green;
    border-radius: 4px;
    background-color: lightgreen;
}

input[type]:focus {
    background-color: lightblue;
}

main img {
    max-width: 100%;
}

.comment {
    width: 100%;
}

.indent {
    text-indent: 2em;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.centerContent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center {
    text-align: center;
}

.fontSize {
   font-size: 16px;
}

.text {
     width: inherit;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     font-size: 16px;
}

.text:hover {
    overflow:visible;
}

.box {
    float: left;
    width: 20rem;
    margin: 4px;
}

.textWhite {
    color: white;
}

.route:hover, .brand:hover, .btn:hover {
    color: orange;
}

.title {
    overflow: auto;   
}

#book {
    float: left;
    width: 16rem;
    max-width: 18rem;
    margin: 6px;
    height: 24rem;
    max-height: 24rem;
    text-align: center;
}

#bookImage {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 40%;
}

#imgDetails {
    margin-left: 40%;
    height: 300px;
    width: 18%;
    display: block;
}

#inlineForm {
    display: inline;
}
