{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="centerContent center">
        <div class="row">
            <div class="col-sm-12">
                <br><a target="_blank" title="CS50" href="https://cs50.harvard.edu/">
                    <img width="100%" height="60%" alt="CS50" title="CS50" src="../static/cs50.png">
                </a><hr>
                <p>
                    The web application is CS50 project. It represented site for searching, reading, commenting and grading books with
                    authentication and CRUD operations using Google Books API. Application is created using Flask web python
                    framework and SQLite database.
                </p><hr>
                <p>
                    Made by Vukan Marković &nbsp;&nbsp;&nbsp; CS50 Book Evaluator &copy; &nbsp;&nbsp;&nbsp;
                    <a href="https://github.com/Vukan-Markovic/Book-evaluator" target="blank" title="See code here">
                        <img width="20%" height="40%" alt="Github" title="See code here"
                             src="../static/github.png">
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
