{% extends "layout.html" %}

{% block title %}
  Change profile picture
{% endblock %}

{% block main %}
  <form role="form" class="centerContent formMargin" action="{{ url_for('changeProfilePicture') }}" method="post">
    <fieldset>
      <legend>Chane profile picture</legend>
      <div class="form-group">
        <label for="profilePicture">URL of the new profile picture:</label>
        <input class="form-control" id="profilePicture" name="profilePicture" placeholder="Enter url of the new image" type="url"
               required>
        <br><br><button class="btn btn-lg btn-warning centerContent" type="submit">Change</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
