{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form role="form" class="centerContent formMargin" action="{{ url_for('changePassword') }}" method="post">
        <fieldset>
            <legend>Change password</legend>
            <div class="form-group">
                <label for="newPassword">New password:</label>
                <input class="form-control" id="newPassword" name="newPassword" placeholder="Enter new password" type="password"
                       required/>
                <small>Must contain at least one number, one uppercase and lowercase letter and at least 8 or more characters</small>
            </div>
            <div class="form-group">
                <button class="btn btn-warning btn-lg centerContent" type="submit">Change</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
