{% extends "layout.html" %}

{% block title %}
  Post details
{% endblock %}

{% block main %}
  <article class="textWhite">
    <div class="card mb-3 bg-danger">
      <h3 class="card-header"><span id="text">Title:</span>{{ post.title}}</h3>
      <div class="card-body">
        <h5 class="card-title"><span id="text"></h5>
        <h6 class="card-subtitle text-muted"></h6>
      </div>
      <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
      </div>
      <div class="card-body">
        <a title="See profile" href="{{ url_for('user', username = user.username) }}">By: {{ user.username }}</a>
      </div>
      <div class="card-footer">
        Published: {{ post.dateOfPublish }}&nbsp;
        {% if session.email or session.user_id == post.user_id %}
          <button class="card-link btn btn-sm btn-success">
            <a title="Delete post" href="{{ url_for('deletePost', post_id = post.id) }}">Delete post</a>
          </button>&nbsp;
          <button class="card-link btn btn-sm btn-success">
            <a title="Update post" href="{{ url_for('updatePost', post_id = post.id) }}">Update post</a>
          </button>
        {% endif %}
      </div>
    </div>
  </article>
{% endblock %}
