{% extends "layout.html" %}

{% block title %}
  Update grade
{% endblock %}

{% block main %}
  <form role="form" class="centerContent formMargin" action="{{ url_for('updateGrade', grade_id = grade.id) }}" method="post">
    <fieldset>
      <legend>Update grade</legend>
      <div class="form-group">
        <label for="grade">Grade:</label>
        <input id="updatedGrade" name="updatedGrade" class="form-control" required type="number" min="0" max="10"
               value="{{ grade.grade }}" />
      </div>
      <button class="btn btn-lg btn-warning centerContent" type="submit">Update</button>
    </fieldset>
  </form>
{% endblock %}
