{% extends "layout.html" %}

{% block title %}
  Update comment
{% endblock %}

{% block main %}
  <form role="form" class="centerContent formMargin" action="{{ url_for('updateComment', comment_id = comment.id) }}" method="post">
    <fieldset>
      <legend>Update a comment</legend>
      <div class="form-group">
        <label for="updatedComment">Comment:</label>
        <textarea id="updatedComment" name="updatedComment" class="form-control" required rows="8" maxlength="440">{{ comment.comment }}
        </textarea>
      </div>
      <button class="btn btn-lg btn-warning centerContent" type="submit">Update</button>
    </fieldset>
  </form>
{% endblock %}
