{% extends "layout.html" %}

{% block title %}
  User
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron center">
        <div><span class="text-warning">{{ user.username }}</span></div><br>
        <img id="profilePicture" width="30%" height="50%" src="{{ user.profilePicture }}" alt="Profile picture" title="Profile picture">
        <br><br><div><span class="text-info">{{ user.firstName }}</span></div>
        <div><span class="text-danger">{{ user.lastName }}</span></div>
      </div>
    </div>
  </div>
  <div class="centerContent">
    <div class="row">
      <div class="col-sm-12">
        {% if books %}
          <br><h3>Diary of readed books:</h3><br>
        {% endif %}
        {% for book in books %}
          <p>
            <span class="badge badge-warning fontSize">
              <a title="See book details" href="{{ url_for('bookDetails', book_id = book.id) }}">{{ book.volumeInfo.title[:40] }}</a>
            </span>
          </p>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% if comments %}
          <br><h3>Comments:</h3><br>
        {% endif %}
        {% for comment in comments %}
          <p>
            <span class="badge badge-success fontSize">
              <a title="See book details" title="{{ comment.book.volumeInfo.title }}"
                 href="{{ url_for('bookDetails', book_id = comment.book.id) }}">{{ comment.book.volumeInfo.title[:40] }}
              </a>
            </span>
          </p>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% if grades %}
          <br><h3>Grades:</h3><br>
        {% endif %}
        {% for grade in grades %}
          <p>
            <span class="badge badge-success fontSize">{{ grade.grade }}</span>&nbsp;
            <span class="badge badge-info fontSize">
              <a title="See book details" href="{{ url_for('bookDetails', book_id = grade.book.id) }}">
                 {{ grade.book.volumeInfo.title[:40] }}
              </a>
            </span>
          </p>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% if posts %}
          <br><h3>Posts:</h3><br>
        {% endif %}
        {% for post in posts %}
          <p>
            <span class="badge badge-primary fontSize">
              <a title="See post" href="{{ url_for('postDetails', post_id = post.id) }}">{{ post.title[:20] }}</a>
            </span>
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
